[Unit]
Before=network.target
[Service]
Type=oneshot
ExecStart=/usr/sbin/iptables -P INPUT DROP
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s 10.8.0.0/24 ! -d 10.8.0.0/24 -j SNAT --to {{ ovpn_ip }}
ExecStart=/usr/sbin/iptables -I INPUT -p {{ ovpn_proto }} --dport 1122 -j ACCEPT
ExecStart=/usr/sbin/iptables -I INPUT -p tcp --dport {{ port }} -j ACCEPT
ExecStart=/usr/sbin/iptables -I INPUT -p tcp --dport 80 -j ACCEPT
ExecStart=/usr/sbin/iptables -I INPUT -p tcp --dport 443 -j ACCEPT
ExecStart=/usr/sbin/iptables -I INPUT -i lo -j ACCEPT
ExecStart=/usr/sbin/iptables -I INPUT -p tcp --dport 10000:65535 -j ACCEPT
ExecStart=/usr/sbin/iptables -I INPUT -p udp --dport 10000:65535 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -s 10.8.0.0/24 -j ACCEPT
ExecStart=/usr/sbin/iptables -I FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
ExecStop=/usr/sbin/iptables -P INPUT ACCEPT
ExecStop=/usr/sbin/iptables -t nat -D POSTROUTING -s 10.8.0.0/24 ! -d 10.8.0.0/24  -j SNAT --to {{ ovpn_ip }}
ExecStop=/usr/sbin/iptables -D INPUT -p {{ ovpn_proto }} --dport 1122 -j ACCEPT
ExecStop=/usr/sbin/iptables -D INPUT -p tcp --dport {{ port }} -j ACCEPT
ExecStop=/usr/sbin/iptables -D INPUT -p tcp --dport 80 -j ACCEPT
ExecStop=/usr/sbin/iptables -D INPUT -p tcp --dport 443 -j ACCEPT
ExecStop=/usr/sbin/iptables -D INPUT -i lo -j ACCEPT
ExecStop=/usr/sbin/iptables -D INPUT -p tcp --dport 10000:65535 -j ACCEPT
ExecStop=/usr/sbin/iptables -D INPUT -p udp --dport 10000:65535 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -s 10.8.0.0/24 -j ACCEPT
ExecStop=/usr/sbin/iptables -D FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
